@model CvMvc.Models.Entity.TblProjelerim

@{
    ViewBag.Title = "ProjeEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Yeni Proje Ekleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Proje Adı")
    @Html.TextBoxFor(X => X.ProjeAdi, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ProjeAdi, "", new { @style = "color:red" })
    <br />
    @Html.Label("Kategori")
    @Html.TextBoxFor(X => X.Kategori, new { @class = "form-control" })
    <br />
    @Html.Label("Teknolojiler")
    @Html.TextBoxFor(X => X.Teknolojiler, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(X => X.Yil, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>
